<form [formGroup]="form" class="loginForm">
    <fieldset>
        <legend>Login</legend>
        <mat-form-field class="collab-full-width">
          <input matInput placeholder="Email" name="email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="collab-full-width">
          <input matInput type="password" placeholder="Password" name="password" formControlName="password">
        </mat-form-field>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" 
                (click)="login()">Login</button>
    </div>
</form>