<!--<app-top-bar></app-top-bar>-->
<mat-toolbar color="primary">
  <span>My Application</span>
  <!-- This fills the remaining space of the current row -->
  <span class="collab-fill-remaining-space"></span>
  <span *ngIf="userData.user.username">{{userData.user.username}}</span>
  
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->