<form [formGroup]="form">
    <fieldset>
        <legend>Login</legend>
        <div class="form-field">
            <label>Email:</label>
            <input name="email" formControlName="email">
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input name="password" formControlName="password" 
                   type="password">
        </div>
        <div class="form-field">
            <label>First Name:</label>
            <input name="first_name" formControlName="first_name" 
                   type="text">
        </div>
        <div class="form-field">
            <label>Last Name:</label>
            <input name="last_name" formControlName="last_name" 
                   type="text">
        </div>
        <div class="form-field">
            <label>Type:</label>
            <select name="type" formControlName="type">
              <option value="student">Student</option>
              <option value="faculty">Faculty</option>
              <option value="staff">Staff</option>
              <option value="community">Community Member</option>
            </select>
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" 
                (click)="register()">Register</button>
    </div>
</form>